
*{
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}


#banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url(imgs/banner2.png);
    
}

.logo{
    width: 200px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text{
    text-align: center;
    color: Bold #000000;
    padding-top: 200px;
}

.banner-text h1{
    font-size: 250px;
    color: linear-gradient(to right, #ffffe0, #ffc0cb);
}

.banner-text p{
    font-size: 30px;
    color: #000000;
}

.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    z-index: 1;
    color: #000000;
    border: 2px solid #000000;
    position: relative;
    transition: color 0.5s;
}

.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff6b6b;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #000000;
}

#sideNav{
    width: 240px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: linear-gradient(to right, #ffe0e5, #f0f8ff);
    z-index: 2;
    transition: .5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    color: #ff6b6b;
}

#menuBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 2;
}

#menuBtn img{
    width: 50px;
    margin-top: 15px;
}

